<a href="https://colab.research.google.com/github/bbombver/BSC_DPDM2025/blob/main/Ch3_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Data

In [4]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
flood = pd.read_csv('/content/drive/MyDrive/data/flooding database.csv')
flood.head()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

# Data Cleaning

# Missing data

### Check missing data

In [16]:
flood.isnull().any()

system:index         False
index                False
threshold_type       False
glide_index           True
dfo_country          False
dfo_other_country     True
dfo_centroid_x       False
dfo_centroid_y       False
dfo_began            False
dfo_ended             True
dfo_validation        True
dfo_dead             False
dfo_displaced        False
dfo_cause             True
dfo_severity         False
gfd_area             False
gfd_exp_ghsl_ts       True
gfd_exp_ghsl_2000     True
gfd_exp_ghsl_2015    False
Errors               False
dif 2000             False
dif 2015             False
error 2000            True
dtype: bool

In [17]:
flood.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

### Drop Record ที่มั missing ออก

drop ถ้ามี missing

In [18]:
flood.shape

(913, 23)

In [19]:
flood_drop1 = flood.dropna()
flood_drop1.shape

(13, 23)

drop เฉพาะเกิด missing ในตัวแปรที่เราต้องใช้

In [20]:
flood_drop2 = flood.dropna(subset=['dfo_country','dfo_other_country','dfo_began','dfo_ended',
                                   'dfo_dead','dfo_cause','dfo_severity'])
flood_drop2.shape

(637, 23)

In [21]:
flood_drop2.head()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

## เติม dummy

In [32]:
flood[~flood.isnull()['dfo_other_country']]

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,DFO_4516_From_20170908_to_20170919,4516,std,TC-2017-000132-CUB,USA,Cuba,-81.625156,28.594245,9/8/17,9/19/17,...,"Tropical Storm, Surge",2.0,9990.79,108896.0,92345.0,108883,0,16551,13,NaN
886,DFO_4581_From_20180310_to_20180314,4581,std,NaN,Croatia,Bosnia and Herzegovina,16.947210,44.734938,3/10/18,3/14/18,...,"Snowmelt, Ice, Rain",1.0,1564.28,53495.0,50783.0,53495,1,2712,0,NaN
893,DFO_4597_From_20180325_to_20180408,4597,std,NaN,Greece,Bulgaria,26.671405,41.531705,3/25/18,4/8/18,...,Heavy rain,1.5,2818.83,57706.0,51639.0,57706,1,6067,0,NaN
897,DFO_4640_From_20180625_to_20180711,4640,std,NaN,India,Pakistan,75.143900,33.375200,6/25/18,7/11/18,...,Heavy rain,1.0,2104.94,224236.0,60172.0,224236,1,164064,0,NaN
902,DFO_4662_From_20180726_to_20180904,4662,std,NaN,Colombia,Venezuela,-68.294100,2.753690,7/26/18,9/4/18,...,Heavy rain,1.5,6205.09,31258.0,15208.0,31258,1,16050,0,NaN

In [33]:
flood_filldummy  = flood.fillna({'dfo_other_country': 'unknow'})
flood_filldummy.head()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

In [34]:
flood_filldummy.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country      0
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

## เติม ด้วยค่ากลาง

In [35]:
flood.groupby('dfo_cause').count()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_displaced,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
dfo_cause,,,,,,,,,,,,,,,,,,,,,
Dam,13,13,13,11,13,10,13,13,13,13,...,13,13,13,13,13,13,13,13,13,0
Heavy rain,749,749,749,554,749,530,749,749,749,748,...,749,749,749,748,748,749,749,749,749,16
"Snowmelt, Ice, Rain",52,52,52,45,52,45,52,52,52,52,...,52,52,52,52,52,52,52,52,52,7
"Tropical Storm, Surge",97,97,97,71,97,53,97,97,97,97,...,97,97,97,97,97,97,97,97,97,1

In [36]:
flood_fillmode = flood.fillna({'dfo_cause': 'Heavy rain'})

In [37]:
flood_fillmode.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              0
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

### เติมด้วยตัวแทนของกลุ่ม

In [39]:
flood.groupby(['dfo_severity', 'dfo_cause']).count()

                                    system:index  index  threshold_type  \
dfo_severity dfo_cause
1.0          Dam                               9      9               9
             Heavy rain                      464    464             464
             Snowmelt, Ice, Rain              34     34              34
             Tropical Storm, Surge            33     33              33
1.5          Dam                               3      3               3
             Heavy rain                      163    163             163
             Snowmelt, Ice, Rain               8      8               8
             Tropical Storm, Surge            26     26              26
2.0          Dam                               1      1               1
             Heavy rain                      122    122             122
             Snowmelt, Ice, Rain              10     10              10
             Tropical Storm, Surge            38     38              38

                                    glide_index  dfo_country  \
dfo_severity dfo_cause
1.0          Dam                              9            9
             Heavy rain                     390          464
             Snowmelt, Ice, Rain             29           34
             Tropical Storm, Surge           32           33
1.5          Dam                              1            3
             Heavy rain                      72          163
             Snowmelt, Ice, Rain              7            8
             Tropical Storm, Surge           12           26
2.0          Dam                              1            1
             Heavy rain                      92          122
             Snowmelt, Ice, Rain              9           10
             Tropical Storm, Surge           27           38

                                    dfo_other_country  dfo_centroid_x  \
dfo_severity dfo_cause
1.0          Dam                                    9               9
             Heavy rain                           369             464
             Snowmelt, Ice, Rain                   30              34
             Tropical Storm, Surge                 28              33
1.5          Dam                                    0               3
             Heavy rain                            67             163
             Snowmelt, Ice, Rain                    6               8
             Tropical Storm, Surge                  7              26
2.0          Dam                                    1               1
             Heavy rain                            94             122
             Snowmelt, Ice, Rain                    9              10
             Tropical Storm, Surge                 18              38

                                    dfo_centroid_y  dfo_began  dfo_ended  ...  \
dfo_severity dfo_cause                                                    ...
1.0          Dam                                 9          9          9  ...
             Heavy rain                        464        464        463  ...
             Snowmelt, Ice, Rain                34         34         34  ...
             Tropical Storm, Surge              33         33         33  ...
1.5          Dam                                 3          3          3  ...
             Heavy rain                        163        163        163  ...
             Snowmelt, Ice, Rain                 8          8          8  ...
             Tropical Storm, Surge              26         26         26  ...
2.0          Dam                                 1          1          1  ...
             Heavy rain                        122        122        122  ...
             Snowmelt, Ice, Rain                10         10         10  ...
             Tropical Storm, Surge              38         38         38  ...

                                    dfo_dead  dfo_displaced  gfd_area  \
dfo_severity dfo_cause
1.0          Dam                           9              9         9
             Heavy rain                  464            464       464
             Snowmelt, Ice, Rain          34             34        34
             Tropical Storm, Surge        33             33        33
1.5          Dam                           3              3         3
             Heavy rain                  163            163       163
             Snowmelt, Ice, Rain           8              8         8
             Tropical Storm, Surge        26             26        26
2.0          Dam                           1              1         1
             Heavy rain                  122            122       122
             Snowmelt, Ice, Rain          10             10        10
             Tropical Storm, Surge        38             38        38

                                    gfd_exp_ghsl_ts  gfd_exp_ghsl_2000  \
dfo_severity dfo_cause
1.0          Dam                                  9                  9
             Heavy rain                         463                464
             Snowmelt, Ice, Rain                 34                 34
             Tropical Storm, Surge               33                 33
1.5          Dam                                  3                  3
             Heavy rain                         163                162
             Snowmelt, Ice, Rain                  8                  8
             Tropical Storm, Surge               26                 26
2.0          Dam                                  1                  1
             Heavy rain                         122                122
             Snowmelt, Ice, Rain                 10                 10
             Tropical Storm, Surge               38                 38

                                    gfd_exp_ghsl_2015  Errors  dif 2000  \
dfo_severity dfo_cause
1.0          Dam                                    9       9         9
             Heavy rain                           464     464       464
             Snowmelt, Ice, Rain                   34      34        34
             Tropical Storm, Surge                 33      33        33
1.5          Dam                                    3       3         3
             Heavy rain                           163     163       163
             Snowmelt, Ice, Rain                    8       8         8
             Tropical Storm, Surge                 26      26        26
2.0          Dam                                    1       1         1
             Heavy rain                           122     122       122
             Snowmelt, Ice, Rain                   10      10        10
             Tropical Storm, Surge                 38      38        38

                                    dif 2015  error 2000
dfo_severity dfo_cause
1.0          Dam                           9           0
             Heavy rain                  464           8
             Snowmelt, Ice, Rain          34           6
             Tropical Storm, Surge        33           1
1.5          Dam                           3           0
             Heavy rain                  163           4
             Snowmelt, Ice, Rain           8           0
             Tropical Storm, Surge        26           0
2.0          Dam                           1           0
             Heavy rain                  122           4
             Snowmelt, Ice, Rain          10           1
             Tropical Storm, Surge        38           0

[12 rows x 21 columns]

In [40]:
flood_sever1 = flood[flood['dfo_severity']==1.0]
flood_sever15 = flood[flood['dfo_severity']==1.5]
flood_sever2 = flood[flood['dfo_severity']==2.0]

In [41]:
flood_sever1 = flood_sever1.fillna({'dfo_cause': 'Heavy rain'})
flood_sever15 = flood_sever15.fillna({'dfo_cause': 'Heavy rain'})
flood_sever2 = flood_sever2.fillna({'dfo_cause': 'Tropicai Stom Surge'})

In [42]:
flood_fillgroup = pd.concat([flood_sever1, flood_sever15, flood_sever2])

In [43]:
flood_fillgroup.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              0
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64