<a href="https://colab.research.google.com/github/bbombver/BSC_DPDM2025/blob/main/Midterm_663020584_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Midterm BSC

[‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ AI](https://docs.google.com/document/d/1PeNqoAH-UPpRoQR-x4NF_OH1U-Bsa_JAKNDYbtSfANQ/edit?usp=sharing)

[‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô](https://drive.google.com/file/d/1HgW-dW2mNJ67ORLDTTQ7J2wkAofKq6ye/view?usp=sharing)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
!ls "/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025"

'Daily rain - (Statistics 2012-2024)'
'Input - (Operation Daily rain from API_ 2025)'
'Output - (Clean monthly rain - 2025)'

In [22]:
import os
os.listdir('/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025')

['Daily rain - (Statistics 2012-2024)',
 'Output - (Clean monthly rain - 2025)',
 'Input - (Operation Daily rain from API_ 2025)']

In [28]:
os.listdir('/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)')

['Stations in the model_HII.csv',
 '2025-08',
 '2025-10',
 '2025-07',
 '2025-09',
 '2025-12',
 '2025-11']

## ‡∏≠‡πà‡∏≤‡∏ô‡πÑ‡∏ü‡∏•‡πå ‡πÅ‡∏™‡∏î‡∏á‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ‡πÅ‡∏•‡∏∞‡∏≠‡∏ò‡∏¥‡∏ö‡∏≤‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏•‡∏≠‡∏•‡∏±‡∏°‡∏ö‡πå

In [42]:
df1 = pd.read_csv(
    '/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025/Daily rain - (Statistics 2012-2024)/hii_daily_rain.csv'
)

df1.head()

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
0,ABRT,2012-01-01 07:00:00+07,0.0,‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô,16.054785,103.66429,U,‡∏ä‡∏µ,‡∏•‡∏≥‡∏ô‡πâ‡∏≥‡∏ä‡∏µ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 4/2,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÄ‡∏°‡∏∑‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,rainfall_daily
1,ABRT,2012-01-03 07:00:00+07,0.0,‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô,16.054785,103.66429,U,‡∏ä‡∏µ,‡∏•‡∏≥‡∏ô‡πâ‡∏≥‡∏ä‡∏µ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 4/2,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÄ‡∏°‡∏∑‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,rainfall_daily
2,ABRT,2012-01-06 07:00:00+07,0.0,‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô,16.054785,103.66429,U,‡∏ä‡∏µ,‡∏•‡∏≥‡∏ô‡πâ‡∏≥‡∏ä‡∏µ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 4/2,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÄ‡∏°‡∏∑‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,rainfall_daily
3,ABRT,2012-01-07 07:00:00+07,0.0,‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô,16.054785,103.66429,U,‡∏ä‡∏µ,‡∏•‡∏≥‡∏ô‡πâ‡∏≥‡∏ä‡∏µ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 4/2,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÄ‡∏°‡∏∑‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,rainfall_daily
4,ABRT,2012-01-08 07:00:00+07,0.0,‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô,16.054785,103.66429,U,‡∏ä‡∏µ,‡∏•‡∏≥‡∏ô‡πâ‡∏≥‡∏ä‡∏µ‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà 4/2,‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÄ‡∏°‡∏∑‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,rainfall_daily

‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏Å

station_code: ‡∏£‡∏´‡∏±‡∏™‡∏õ‡∏£‡∏∞‡∏à‡∏≥‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÄ‡∏ä‡πà‡∏ô ABRT) ‡∏ã‡∏∂‡πà‡∏á‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Node ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÅ‡∏£‡∏Å‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏Å‡∏£‡∏≠‡∏á

measure_datetime: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Format ISO 8601 ‡∏û‡∏£‡πâ‡∏≠‡∏° Timezone +07)

data: ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏ß‡∏±‡∏î‡πÑ‡∏î‡πâ‡∏à‡∏≤‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÉ‡∏ô‡∏ó‡∏µ‡πà‡∏ô‡∏µ‡πâ‡∏Ñ‡∏∑‡∏≠‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏£‡∏∞‡∏ö‡∏∏‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô rainfall_daily)

station_name: ‡∏ä‡∏∑‡πà‡∏≠‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÄ‡∏ä‡πà‡∏ô ‡∏ß‡∏±‡∏î‡πÄ‡∏ß‡∏¨‡∏∏‡∏ß‡∏±‡∏ô)

latitude / longitude: ‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏ô‡∏µ‡πâ (‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö Lat/Long ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á)

quality_flag: ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏´‡∏°‡∏≤‡∏¢‡∏£‡∏∞‡∏ö‡∏∏‡∏Ñ‡∏∏‡∏ì‡∏†‡∏≤‡∏û‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (‡πÄ‡∏ä‡πà‡∏ô 'U' ‡∏≠‡∏≤‡∏à‡∏´‡∏°‡∏≤‡∏¢‡∏ñ‡∏∂‡∏á Unverified ‡∏´‡∏£‡∏∑‡∏≠‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö)

basin / sub_basin: ‡∏•‡∏∏‡πà‡∏°‡∏ô‡πâ‡∏≥ ‡πÅ‡∏•‡∏∞ ‡∏•‡∏∏‡πà‡∏°‡∏ô‡πâ‡∏≥‡∏™‡∏≤‡∏Ç‡∏≤ (‡πÄ‡∏ä‡πà‡∏ô ‡∏•‡∏∏‡πà‡∏°‡∏ô‡πâ‡∏≥‡∏ä‡∏µ)

tambon / amphoe / province: ‡∏ó‡∏µ‡πà‡∏ï‡∏±‡πâ‡∏á‡∏£‡∏∞‡∏î‡∏±‡∏ö ‡∏ï‡∏≥‡∏ö‡∏•, ‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ ‡πÅ‡∏•‡∏∞ ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô‡πÜ

data_type: ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (‡πÄ‡∏ä‡πà‡∏ô rainfall_daily ‡∏Ñ‡∏∑‡∏≠ ‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô)

In [43]:
import pandas as pd

df2 = pd.read_csv(
    '/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv'
)

df2.head(10)

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190
5  BDCP  14.427340  100.556060
6  BDGN  17.704449  103.263740
7  BDLH  17.008570   99.582970
8  BDMG  17.076832  103.021490
9  BGRT  15.013624  102.748600

‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
Node:

‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢: ‡∏Ñ‡∏∑‡∏≠ ‡∏ä‡∏∑‡πà‡∏≠‡∏¢‡πà‡∏≠‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡∏´‡∏£‡∏∑‡∏≠‡∏£‡∏´‡∏±‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á (Station ID/Code)

‡∏•‡∏±‡∏Å‡∏©‡∏ì‡∏∞: ‡∏°‡∏±‡∏Å‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£‡∏†‡∏≤‡∏©‡∏≤‡∏≠‡∏±‡∏á‡∏Å‡∏§‡∏©‡∏ï‡∏±‡∏ß‡∏û‡∏¥‡∏°‡∏û‡πå‡πÉ‡∏´‡∏ç‡πà 4 ‡∏ï‡∏±‡∏ß (‡πÄ‡∏ä‡πà‡∏ô ACRU, BBHN) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ (Unique Identifier) ‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô‡πÜ ‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏´‡∏£‡∏∑‡∏≠‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

Lat (Latitude):

‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢: ‡∏Ñ‡∏∑‡∏≠ ‡∏•‡∏∞‡∏ï‡∏¥‡∏à‡∏π‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÉ‡∏ô‡πÅ‡∏ô‡∏ß‡∏£‡∏∞‡∏ô‡∏≤‡∏ö‡∏Ç‡∏ô‡∏≤‡∏ô‡∏Å‡∏±‡∏ö‡πÄ‡∏™‡πâ‡∏ô‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£

‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î: ‡∏ö‡∏≠‡∏Å‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ß‡πà‡∏≤‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô‡∏≠‡∏¢‡∏π‡πà‡∏´‡πà‡∏≤‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏™‡πâ‡∏ô‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡πÑ‡∏õ‡∏ó‡∏≤‡∏á‡∏ó‡∏¥‡∏®‡πÄ‡∏´‡∏ô‡∏∑‡∏≠ (‡∏Ñ‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏ö‡∏ß‡∏Å) ‡∏´‡∏£‡∏∑‡∏≠‡∏ó‡∏¥‡∏®‡πÉ‡∏ï‡πâ‡πÄ‡∏ó‡πà‡∏≤‡πÉ‡∏î ‡πÉ‡∏ô‡∏†‡∏≤‡∏û‡∏Ñ‡∏∑‡∏≠‡∏û‡∏¥‡∏Å‡∏±‡∏î‡πÉ‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ (‡∏õ‡∏£‡∏∞‡∏°‡∏≤‡∏ì 9¬∞ ‡∏ñ‡∏∂‡∏á 17¬∞ ‡πÄ‡∏´‡∏ô‡∏∑‡∏≠)

Long (Longitude):

‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢: ‡∏Ñ‡∏∑‡∏≠ ‡∏•‡∏≠‡∏á‡∏à‡∏¥‡∏à‡∏π‡∏î ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÉ‡∏ô‡πÅ‡∏ô‡∏ß‡∏ï‡∏±‡πâ‡∏á (‡πÅ‡∏ô‡∏ß‡πÄ‡∏™‡πâ‡∏ô‡πÄ‡∏°‡∏£‡∏¥‡πÄ‡∏î‡∏µ‡∏¢‡∏ô)

‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î: ‡∏ö‡∏≠‡∏Å‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ß‡πà‡∏≤‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô‡∏≠‡∏¢‡∏π‡πà‡∏´‡πà‡∏≤‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏™‡πâ‡∏ô‡πÄ‡∏°‡∏£‡∏¥‡πÄ‡∏î‡∏µ‡∏¢‡∏ô‡πÅ‡∏£‡∏Å‡πÑ‡∏õ‡∏ó‡∏≤‡∏á‡∏ó‡∏¥‡∏®‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å (‡∏Ñ‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏ö‡∏ß‡∏Å) ‡πÄ‡∏ó‡πà‡∏≤‡πÉ‡∏î ‡πÉ‡∏ô‡∏†‡∏≤‡∏û‡∏Ñ‡∏∑‡∏≠‡∏û‡∏¥‡∏Å‡∏±‡∏î‡πÉ‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ (‡∏õ‡∏£‡∏∞‡∏°‡∏≤‡∏ì 98¬∞ ‡∏ñ‡∏∂‡∏á 104¬∞ ‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å)

In [40]:
import pandas as pd

df3 = pd.read_csv(
    '/content/drive/MyDrive/Midterm_BSC/BSC DPDM midterm 2025/Output - (Clean monthly rain - 2025)/Y_monthly_rain_HII_operation.csv'
)

df3.head(10)

   Node   rain  month  year
0  ACRU   83.0      7  2025
1  ACRU  164.8      8  2025
2  ACRU  248.6      9  2025
3  ACRU   48.4     10  2025
4  ACRU   52.2     11  2025
5  ACRU    0.2     12  2025
6  BBHN  391.6      7  2025
7  BBHN  641.2      8  2025
8  BBHN  517.6      9  2025
9  BBHN  198.8     10  2025

Node: ‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≠‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏°‡∏≤‡∏à‡∏≤‡∏Å‡πÑ‡∏ü‡∏•‡πå‡πÅ‡∏£‡∏Å)

rain: ‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏ß‡∏°‡∏´‡∏£‡∏∑‡∏≠‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢ (‡πÉ‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏™‡∏î‡∏á‡∏Ñ‡πà‡∏≤‡πÄ‡∏ä‡πà‡∏ô 83.0, 164.8)

month: ‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏ó‡∏µ‡πà‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (‡πÄ‡∏ä‡πà‡∏ô 7 ‡∏Ñ‡∏∑‡∏≠ ‡∏Å‡∏£‡∏Å‡∏é‡∏≤‡∏Ñ‡∏°, 12 ‡∏Ñ‡∏∑‡∏≠ ‡∏ò‡∏±‡∏ô‡∏ß‡∏≤‡∏Ñ‡∏°)

year: ‡∏õ‡∏µ‡∏ó‡∏µ‡πà‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (‡πÄ‡∏ä‡πà‡∏ô 2025)

## ‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏ô stations in the model_HLL.csv ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Å‡πà‡∏≠‡∏ô/‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á

‡∏Å‡πà‡∏≠‡∏ô‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ

In [55]:
print(f" ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏±‡∏Å: {df1['station_code'].nunique()}")

 ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏±‡∏Å: 1387

‡∏´‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á

In [49]:
import pandas as pd
from google.colab import drive

# 1. ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠ Drive (already mounted)
# drive.mount('/content/drive') # No need to remount if already mounted

# ‡πÉ‡∏ä‡πâ DataFrame ‡∏ó‡∏µ‡πà‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ß‡πâ‡πÅ‡∏•‡πâ‡∏ß (df1 ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏Å ‡πÅ‡∏•‡∏∞ df2 ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á)
df_main = df1.copy() # ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô
ref_stations = df2.copy() # ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á

# ‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ü‡∏•‡πå‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á (‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£)
# df_ref = pd.read_csv(folder_path + 'Station in the model_hll.csv') # ‡∏ö‡∏£‡∏£‡∏ó‡∏±‡∏î‡∏ô‡∏µ‡πâ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î
target_nodes = ref_stations['Node'].unique()

# ‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏±‡∏Å (‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î) - ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì
# main_file_name = 'df_rain_daily.csv' # <-- ‡πÅ‡∏Å‡πâ‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå‡∏ï‡∏£‡∏á‡∏ô‡∏µ‡πâ
# df_main = pd.read_csv(folder_path + main_file_name) # ‡∏ö‡∏£‡∏£‡∏ó‡∏±‡∏î‡∏ô‡∏µ‡πâ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î

# 2. ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
df_filtered = df_main[df_main['station_code'].isin(target_nodes)]

# 3. ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö
print("üìä --- ‡∏™‡∏£‡∏∏‡∏õ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ---")
print(f"‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏±‡∏Å: {df_main['station_code'].nunique()} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ (‡∏à‡∏≤‡∏Å‡πÑ‡∏ü‡∏•‡πå HLL): {len(target_nodes)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"üéØ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á: {df_filtered['station_code'].nunique()} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print("-" * 30)
print(f"üì¶ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: {len(df_main):,} ‡πÅ‡∏ñ‡∏ß")
print(f"üì¶ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á: {len(df_filtered):,} ‡πÅ‡∏ñ‡∏ß")
print("-" * 30)

# 4. ‡πÅ‡∏™‡∏î‡∏á‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á 10 ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡πÅ‡∏£‡∏Å)
print("\nüìç ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ 10 ‡∏≠‡∏±‡∏ô‡∏î‡∏±‡∏ö‡πÅ‡∏£‡∏Å‡∏ó‡∏µ‡πà‡∏Å‡∏£‡∏≠‡∏á‡πÑ‡∏î‡πâ:")
print(df_filtered['station_code'].unique()[:10])

# 5. ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á
print("\nüîç ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (5 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å):")
display(df_filtered.head())

üìä --- ‡∏™‡∏£‡∏∏‡∏õ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ---
‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏´‡∏•‡∏±‡∏Å: 1387 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ (‡∏à‡∏≤‡∏Å‡πÑ‡∏ü‡∏•‡πå HLL): 385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
üéØ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á: 385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
------------------------------
üì¶ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: 3,768,463 ‡πÅ‡∏ñ‡∏ß
üì¶ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á: 1,662,282 ‡πÅ‡∏ñ‡∏ß
------------------------------

üìç ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ 10 ‡∏≠‡∏±‡∏ô‡∏î‡∏±‡∏ö‡πÅ‡∏£‡∏Å‡∏ó‡∏µ‡πà‡∏Å‡∏£‡∏≠‡∏á‡πÑ‡∏î‡πâ:
['ACRU' 'BBHN' 'BBUA' 'BCNG' 'BDAR' 'BDCP' 'BDGN' 'BDLH' 'BDMG' 'BGRT']

üîç ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (5 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å):

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
3488,ACRU,2012-01-01 07:00:00+07,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3489,ACRU,2012-01-06 07:00:00+07,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3490,ACRU,2012-01-07 07:00:00+07,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3491,ACRU,2012-01-08 07:00:00+07,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3492,ACRU,2012-01-09 07:00:00+07,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily

‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á: 385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ

## ‡∏£‡∏∞‡∏ö‡∏∏‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢ (record ‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ) ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô

In [60]:
import pandas as pd

# 1. ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà (‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÅ‡∏ô‡πà‡πÉ‡∏à‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö datetime)
df_filtered['measure_datetime'] = pd.to_datetime(df_filtered['measure_datetime'])

# 2. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå (‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ß‡∏±‡∏ô‡πÅ‡∏£‡∏Å‡∏à‡∏ô‡∏ñ‡∏∂‡∏á‡∏ß‡∏±‡∏ô‡∏™‡∏∏‡∏î‡∏ó‡πâ‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏°‡∏µ‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•)
start_date = df_filtered['measure_datetime'].min()
end_date = df_filtered['measure_datetime'].max()
all_days = pd.date_range(start=start_date, end=end_date, freq='D')
total_days_expected = len(all_days)

print(f"‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà: {start_date.date()} ‡∏ñ‡∏∂‡∏á {end_date.date()}")
print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏°‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {total_days_expected} ‡∏ß‡∏±‡∏ô\n")

# 3. ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏´‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
missing_report = []

for station in df_filtered['station_code'].unique():
    # ‡∏î‡∏∂‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô‡πÜ
    station_data = df_filtered[df_filtered['station_code'] == station]

    # ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏£‡∏¥‡∏á (‡∏ô‡∏±‡∏ö‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥)
    actual_days = station_data['measure_datetime'].dt.normalize().nunique()

    # ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ
    missing_days = total_days_expected - actual_days
    percent_missing = (missing_days / total_days_expected) * 100

    missing_report.append({
        'station_code': station,
        'total_expected': total_days_expected,
        'actual_present': actual_days,
        'missing_days': missing_days,
        'percent_missing': round(percent_missing, 2)
    })

# 4. ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô DataFrame ‡πÅ‡∏•‡∏∞‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•
df_missing = pd.DataFrame(missing_report).sort_values(by='percent_missing', ascending=False)

print(" ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏à‡∏≤‡∏Å‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î):")
display(df_missing)

# 5. ‡∏™‡∏£‡∏∏‡∏õ‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°
print(f"\n ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: {df_missing.iloc[-1]['station_code']} (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ {df_missing.iloc[-1]['percent_missing']}%)")
print(f" ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≤‡∏î‡∏´‡∏≤‡∏¢‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: {df_missing.iloc[0]['station_code']} (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ {df_missing.iloc[0]['percent_missing']}%)")

/tmp/ipython-input-1141765884.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['measure_datetime'] = pd.to_datetime(df_filtered['measure_datetime'])

‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà: 2012-01-01 ‡∏ñ‡∏∂‡∏á 2024-11-29
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏°‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 4716 ‡∏ß‡∏±‡∏ô

 ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏à‡∏≤‡∏Å‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î):

,station_code,total_expected,actual_present,missing_days,percent_missing
268,SKG007,4716,3245,1471,31.19
326,TON006,4716,3250,1466,31.09
267,SKG005,4716,3251,1465,31.06
77,CHN004,4716,3259,1457,30.89
325,TON001,4716,3264,1452,30.79
...,...,...,...,...,...
245,PTLE,4716,4698,18,0.38
182,NAPJ,4716,4699,17,0.36
299,SWKL,4716,4700,16,0.34
7,BDLH,4716,4701,15,0.32
78,CHNA,4716,4707,9,0.19

 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: CHNA (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ 0.19%)
 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≤‡∏î‡∏´‡∏≤‡∏¢‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: SKG007 (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ 31.19%)

‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: CHNA (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ 0.19%)
 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≤‡∏î‡∏´‡∏≤‡∏¢‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î: SKG007 (‡∏´‡∏≤‡∏¢‡πÑ‡∏õ 31.19%)

## ‡∏Ñ‡∏±‡∏î‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢ ‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤‡∏´‡∏£‡∏∑‡∏≠‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö20% ‡∏≠‡∏≠‡∏Å ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å‡πÅ‡∏•‡∏∞‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠

In [62]:
# 1. ‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏≤‡∏¢‡πÑ‡∏õ >= 20%
stations_to_remove = df_missing[df_missing['percent_missing'] >= 20]['station_code'].unique()

print(f"--- ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏≤‡∏¢‡πÑ‡∏õ >= 20% ---")
print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å: {len(stations_to_remove)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print("‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å:")
if len(stations_to_remove) > 0:
    for station in stations_to_remove:
        print(f"- {station}")
else:
    print("‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏î‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å‡∏î‡πâ‡∏ß‡∏¢‡πÄ‡∏Å‡∏ì‡∏ë‡πå‡∏ô‡∏µ‡πâ")

# 2. ‡∏Å‡∏£‡∏≠‡∏á df_filtered ‡∏≠‡∏≠‡∏Å‡∏à‡∏≤‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏£‡∏∞‡∏ö‡∏∏
df_final_filtered = df_filtered[~df_filtered['station_code'].isin(stations_to_remove)].copy()

# 3. ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÅ‡∏•‡∏∞‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠
print(f"\n--- ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å ---")
print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {df_final_filtered['station_code'].nunique()} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {len(df_final_filtered):,} ‡πÅ‡∏ñ‡∏ß")

# 4. ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠
print("\n ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (5 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å):")
display(df_final_filtered.head())

--- ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏≤‡∏¢‡πÑ‡∏õ >= 20% ---
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å: 14 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å:
- SKG007
- TON006
- SKG005
- CHN004
- TON001
- TRD002
- VLGE42
- VLGE41
- THNG
- DIV001
- STH005
- VLGE27
- STH029
- BPLA

--- ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å ---
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 371 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 1,613,998 ‡πÅ‡∏ñ‡∏ß

 ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏´‡∏•‡∏±‡∏á‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (5 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å):

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
3488,ACRU,2012-01-01 07:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3489,ACRU,2012-01-06 07:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3490,ACRU,2012-01-07 07:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3491,ACRU,2012-01-08 07:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily
3492,ACRU,2012-01-09 07:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily

--- ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å ---
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 371 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 1,613,998 ‡πÅ‡∏ñ‡∏ß

## ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ Median ‡∏ï‡∏≤‡∏° Day of year ‡∏à‡∏≤‡∏Å historical ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡πÑ‡∏°‡πà‡∏°‡∏µ record ‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å

In [72]:
import pandas as pd
import numpy as np

# 1. ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö Datetime ‡πÅ‡∏•‡∏∞ Normalize (‡∏ï‡∏±‡∏î‡πÄ‡∏ß‡∏•‡∏≤‡∏≠‡∏≠‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÅ‡∏ï‡πà‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà)
df_filtered['measure_datetime'] = pd.to_datetime(df_filtered['measure_datetime']).dt.normalize()

# 2. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÇ‡∏Ñ‡∏£‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå (Complete Time Series Index)
# ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏°‡∏±‡πà‡∏ô‡πÉ‡∏à‡∏ß‡πà‡∏≤‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏à‡∏∞‡∏°‡∏µ‡πÅ‡∏ñ‡∏ß‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏£‡∏ö‡∏ó‡∏∏‡∏Å‡∏ß‡∏±‡∏ô‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡∏ß‡∏±‡∏ô‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏ï‡πâ‡∏ô‡∏ñ‡∏∂‡∏á‡∏ß‡∏±‡∏ô‡∏™‡∏¥‡πâ‡∏ô‡∏™‡∏∏‡∏î
all_stations = df_filtered['station_code'].unique()
date_range = pd.date_range(start=df_filtered['measure_datetime'].min(),
                           end=df_filtered['measure_datetime'].max(),
                           freq='D')

# ‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡πÅ‡∏°‡πà‡πÅ‡∏ö‡∏ö‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ x ‡∏ó‡∏∏‡∏Å‡∏ß‡∏±‡∏ô
index_df = pd.MultiIndex.from_product([all_stations, date_range],
                                     names=['station_code', 'measure_datetime']).to_frame(index=False)

# 3. ‡∏ô‡∏≥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏≠‡∏¢‡∏π‡πà‡∏à‡∏£‡∏¥‡∏á‡∏°‡∏≤‡πÉ‡∏™‡πà‡πÉ‡∏ô‡πÅ‡∏°‡πà‡πÅ‡∏ö‡∏ö (‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏î‡∏¥‡∏°‡∏à‡∏∞‡∏Å‡∏•‡∏≤‡∏¢‡πÄ‡∏õ‡πá‡∏ô NaN)
df_complete = pd.merge(index_df, df_filtered, on=['station_code', 'measure_datetime'], how='left')

# 4. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå 'day_of_year' (1-366) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏∞‡∏ö‡∏∏‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏ß‡∏±‡∏ô‡πÉ‡∏ô‡∏£‡∏≠‡∏ö‡∏õ‡∏µ
df_complete['day_of_year'] = df_complete['measure_datetime'].dt.dayofyear

# 5. ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÅ‡∏•‡∏∞‡∏ß‡∏±‡∏ô‡πÉ‡∏ô‡∏£‡∏≠‡∏ö‡∏õ‡∏µ ‡πÇ‡∏î‡∏¢‡∏ö‡∏±‡∏á‡∏Ñ‡∏±‡∏ö‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô 0
# ‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ transform ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏±‡∏Å‡∏©‡∏≤‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡πÉ‡∏´‡πâ‡πÄ‡∏ó‡πà‡∏≤‡πÄ‡∏î‡∏¥‡∏° ‡πÅ‡∏•‡∏∞‡πÉ‡∏ä‡πâ fillna(0)
df_complete['data'] = df_complete.groupby(['station_code', 'day_of_year'])['data']\
                                 .transform(lambda x: x.fillna(0))

# 6. ‡πÄ‡∏ï‡∏¥‡∏°‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î (‡∏ñ‡πâ‡∏≤‡∏°‡∏µ) ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô 0 ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡∏°‡∏±‡πà‡∏ô‡πÉ‡∏à 100%
df_complete['data'] = df_complete['data'].fillna(0)

# 7. ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå (Integrity Check)
print("="*60)
print(" ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå: ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏õ‡πá‡∏ô 0 ‡πÅ‡∏•‡∏∞‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ï‡πâ‡∏≠‡∏á‡∏Ñ‡∏£‡∏ö")
print("="*60)

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
null_count = df_complete['data'].isnull().sum()
print(f" 1. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠: {null_count}")

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏™‡∏≠‡∏î‡∏Ñ‡∏•‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ö (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ x ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô) ‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
expected_rows = len(all_stations) * len(date_range)
actual_rows = len(df_complete)
print(f" 2. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏°‡∏µ: {expected_rows:,}")
print(f" 3. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏à‡∏£‡∏¥‡∏á: {actual_rows:,}")

if expected_rows == actual_rows and null_count == 0:
    print(" >>> ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÑ‡∏°‡πà‡∏°‡∏µ Record ‡∏´‡∏≤‡∏¢ ‡πÅ‡∏•‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ NaN")
else:
    print(" >>> ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå: ‡∏û‡∏ö‡∏Ç‡πâ‡∏≠‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î ‡∏Å‡∏£‡∏∏‡∏ì‡∏≤‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Å‡∏≤‡∏£ Merge")

display(df_complete.head(10))

/tmp/ipython-input-1567787227.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['measure_datetime'] = pd.to_datetime(df_filtered['measure_datetime']).dt.normalize()

============================================================
 ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå: ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏õ‡πá‡∏ô 0 ‡πÅ‡∏•‡∏∞‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ï‡πâ‡∏≠‡∏á‡∏Ñ‡∏£‡∏ö
============================================================
 1. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠: 0
 2. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏°‡∏µ: 1,816,045
 3. ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏à‡∏£‡∏¥‡∏á: 1,816,045
 >>> ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÑ‡∏°‡πà‡∏°‡∏µ Record ‡∏´‡∏≤‡∏¢ ‡πÅ‡∏•‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ NaN

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type,day_of_year
0,ACRU,2012-01-01 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,1
1,ACRU,2012-01-02 00:00:00+07:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,ACRU,2012-01-03 00:00:00+07:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,ACRU,2012-01-04 00:00:00+07:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,ACRU,2012-01-05 00:00:00+07:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,ACRU,2012-01-06 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,6
6,ACRU,2012-01-07 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,7
7,ACRU,2012-01-08 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,8
8,ACRU,2012-01-09 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,9
9,ACRU,2012-01-10 00:00:00+07:00,0.0,‡∏ó‡∏ï.‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,15.788054,104.642235,U,‡∏°‡∏π‡∏•,‡∏•‡∏≥‡πÄ‡∏ã‡∏ö‡∏Å,‡πÑ‡∏Å‡πà‡∏Ñ‡∏≥,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç,rainfall_daily,10

‡∏Ñ‡πà‡∏≤ Median: ‡∏´‡∏≤‡∏Å‡πÉ‡∏ä‡πâ‡πÅ‡∏Ñ‡πà fillna(0) ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏∞‡∏Ç‡∏≤‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ï‡πà‡∏≠‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡πÉ‡∏ô‡πÄ‡∏ä‡∏¥‡∏á‡∏™‡∏ñ‡∏¥‡∏ï‡∏¥ ‡πÅ‡∏ï‡πà‡∏Å‡∏≤‡∏£‡∏î‡∏∂‡∏á Median ‡∏ï‡∏≤‡∏° day_of_year ‡∏°‡∏≤‡∏Å‡πà‡∏≠‡∏ô‡∏à‡∏∞‡∏ä‡πà‡∏ß‡∏¢‡∏£‡∏±‡∏Å‡∏©‡∏≤‡πÅ‡∏ô‡∏ß‡πÇ‡∏ô‡πâ‡∏°‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏≠‡∏î‡∏µ‡∏ï‡πÑ‡∏ß‡πâ

‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ Metadata: ‡∏™‡∏≤‡πÄ‡∏´‡∏ï‡∏∏‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡πÄ‡∏´‡πá‡∏ô NaN ‡πÉ‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏´‡∏£‡∏∑‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÅ‡∏ñ‡∏ß‡πÄ‡∏´‡∏•‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô‡∏ñ‡∏π‡∏Å‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡∏∂‡πâ‡∏ô‡∏°‡∏≤‡πÉ‡∏´‡∏°‡πà‡πÉ‡∏ô index_df ‡πÅ‡∏ï‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô df_filtered ‡∏°‡∏≤‡∏à‡∏±‡∏ö‡∏Ñ‡∏π‡πà ‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ .ffill().bfill() ‡∏à‡∏∂‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏Å‡∏≤‡∏£‡∏™‡∏±‡πà‡∏á‡πÉ‡∏´‡πâ "‡∏î‡∏∂‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏î‡∏¥‡∏°‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô"‡∏°‡∏≤‡πÉ‡∏™‡πà‡πÉ‡∏ô‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡πÉ‡∏´‡πâ‡∏Ñ‡∏£‡∏ö‡∏ó‡∏∏‡∏Å‡πÅ‡∏ñ‡∏ß

## ‡∏≠‡∏†‡∏¥‡∏õ‡∏£‡∏≤‡∏¢ ‡πÄ‡∏´‡∏ï‡∏∏‡∏ú‡∏•‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ Medain ‡πÅ‡∏ó‡∏ô Mean

‡∏Å‡∏≤‡∏£‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÉ‡∏ä‡πâ Median (‡∏°‡∏±‡∏ò‡∏¢‡∏ê‡∏≤‡∏ô) ‡πÅ‡∏ó‡∏ô Mean (‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢) ‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (Imputation) ‡πÇ‡∏î‡∏¢‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏≤‡∏á‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô ‡∏°‡∏µ‡πÄ‡∏´‡∏ï‡∏∏‡∏ú‡∏•‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡∏î‡πâ‡∏≤‡∏ô‡∏™‡∏ñ‡∏¥‡∏ï‡∏¥‡∏î‡∏±‡∏á‡∏ô‡∏µ‡πâ‡∏Ñ‡∏£‡∏±‡∏ö:

1. ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ó‡∏ô‡∏ó‡∏≤‡∏ô‡∏ï‡πà‡∏≠‡∏Ñ‡πà‡∏≤‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥ (Robustness to Outliers)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡∏î‡∏±‡∏ä‡∏ô‡∏µ‡∏ó‡∏≤‡∏á‡∏ò‡∏£‡∏£‡∏°‡∏ä‡∏≤‡∏ï‡∏¥‡∏°‡∏±‡∏Å‡∏à‡∏∞‡∏°‡∏µ Outliers ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏á‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏ä‡πà‡∏ô ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ù‡∏ô‡∏ï‡∏Å‡∏´‡∏ô‡∏±‡∏Å‡∏°‡∏≤‡∏Å‡∏à‡∏≤‡∏Å‡∏û‡∏≤‡∏¢‡∏∏)

Mean: ‡∏à‡∏∞‡∏ñ‡∏π‡∏Å‡∏î‡∏∂‡∏á‡∏Ñ‡πà‡∏≤‡πÉ‡∏´‡πâ‡∏™‡∏π‡∏á‡∏ï‡∏≤‡∏° Outliers ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ "‡∏™‡∏π‡∏á‡πÄ‡∏Å‡∏¥‡∏ô‡∏à‡∏£‡∏¥‡∏á" ‡πÑ‡∏°‡πà‡∏™‡∏∞‡∏ó‡πâ‡∏≠‡∏ô‡∏™‡∏†‡∏≤‡∏ß‡∏∞‡∏õ‡∏Å‡∏ï‡∏¥‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ô‡∏±‡πâ‡∏ô

Median: ‡∏Ñ‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏ï‡∏£‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÅ‡∏ó‡πâ‡∏à‡∏£‡∏¥‡∏á ‡∏à‡∏∞‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏™‡∏π‡∏á‡πÇ‡∏î‡∏î ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏™‡∏∞‡∏ó‡πâ‡∏≠‡∏ô "‡∏û‡∏§‡∏ï‡∏¥‡∏Å‡∏£‡∏£‡∏°‡∏õ‡∏Å‡∏ï‡∏¥" ‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏î‡πâ‡∏î‡∏µ‡∏Å‡∏ß‡πà‡∏≤

2. ‡∏•‡∏±‡∏Å‡∏©‡∏ì‡∏∞‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏∞‡∏à‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Data Distribution)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏™‡πà‡∏ß‡∏ô‡πÉ‡∏´‡∏ç‡πà‡∏°‡∏±‡∏Å‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏∞‡∏à‡∏≤‡∏¢‡∏ï‡∏±‡∏ß‡πÅ‡∏ö‡∏ö Skewed Distribution (‡πÄ‡∏ö‡πâ‡∏Ç‡∏ß‡∏≤) ‡∏Ñ‡∏∑‡∏≠‡∏°‡∏µ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ù‡∏ô‡∏ï‡∏Å‡∏ô‡πâ‡∏≠‡∏¢‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà‡∏°‡∏µ‡πÄ‡∏•‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏°‡∏≤‡∏Å ‡πÅ‡∏•‡∏∞‡∏°‡∏µ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ù‡∏ô‡∏ï‡∏Å‡∏´‡∏ô‡∏±‡∏Å‡πÄ‡∏û‡∏µ‡∏¢‡∏á‡πÑ‡∏°‡πà‡∏Å‡∏µ‡πà‡∏ß‡∏±‡∏ô

‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏ö‡πâ‡∏°‡∏≤‡∏Å‡πÜ ‡∏Ñ‡πà‡∏≤ Mean ‡∏à‡∏∞‡∏Ç‡∏¢‡∏±‡∏ö‡∏´‡πà‡∏≤‡∏á‡∏≠‡∏≠‡∏Å‡∏à‡∏≤‡∏Å‡∏à‡∏∏‡∏î‡∏ó‡∏µ‡πà‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡πà‡∏ß‡∏ô‡πÉ‡∏´‡∏ç‡πà‡πÄ‡∏Å‡∏≤‡∏∞‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏Å‡∏±‡∏ô

‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ Median ‡∏à‡∏∂‡∏á‡∏£‡∏±‡∏Å‡∏©‡∏≤‡∏•‡∏±‡∏Å‡∏©‡∏ì‡∏∞‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏∞‡∏à‡∏≤‡∏¢‡∏ï‡∏±‡∏ß‡πÄ‡∏î‡∏¥‡∏°‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏î‡πâ‡∏î‡∏µ‡∏Å‡∏ß‡πà‡∏≤‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ Mean ‡∏ã‡∏∂‡πà‡∏á‡∏à‡∏∞‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ä‡∏∏‡∏î‡πÉ‡∏´‡∏°‡πà‡∏î‡∏π "‡∏´‡∏ô‡∏≤" ‡∏´‡∏£‡∏∑‡∏≠ "‡∏™‡∏π‡∏á" ‡∏Å‡∏ß‡πà‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏õ‡πá‡∏ô‡∏à‡∏£‡∏¥‡∏á

3. ‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏™‡∏°‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ 0 ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏°‡∏≤‡∏Å
‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó rainfall_daily ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÉ‡∏ô‡πÄ‡∏Ñ‡∏™‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì ‡∏à‡∏∞‡∏°‡∏µ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏Ñ‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô 0 ‡πÄ‡∏¢‡∏≠‡∏∞‡∏°‡∏≤‡∏Å (Zero-inflated data)

‡∏´‡∏≤‡∏Å‡πÉ‡∏ä‡πâ Mean ‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏ï‡∏¥‡∏°‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡∏°‡∏±‡∏Å‡∏à‡∏∞‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏®‡∏©‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏°‡πÄ‡∏•‡πá‡∏Å‡πÜ (‡πÄ‡∏ä‡πà‡∏ô 0.2, 0.5) ‡∏ã‡∏∂‡πà‡∏á‡πÉ‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏õ‡πá‡∏ô‡∏à‡∏£‡∏¥‡∏á‡∏≠‡∏≤‡∏à‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏ù‡∏ô‡∏ï‡∏Å‡πÄ‡∏•‡∏¢

Median ‡∏°‡∏±‡∏Å‡∏à‡∏∞‡∏•‡∏á‡∏•‡πá‡∏≠‡∏Å‡∏ó‡∏µ‡πà‡πÄ‡∏•‡∏Ç 0 ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÅ‡∏ó‡∏ô‡∏Ç‡∏≠‡∏á‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡πà‡∏ß‡∏ô‡πÉ‡∏´‡∏ç‡πà‡∏à‡∏£‡∏¥‡∏á‡πÜ ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡∏π‡∏™‡∏°‡πÄ‡∏´‡∏ï‡∏∏‡∏™‡∏°‡∏ú‡∏•‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÄ‡∏ä‡∏¥‡∏á‡∏Å‡∏≤‡∏¢‡∏†‡∏≤‡∏û

![image.png]()

## ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô ‡∏à‡∏±‡∏î‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö output_monthly_rainfall.csv

In [80]:
import pandas as pd

# 1. ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÅ‡∏•‡∏∞‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡πà‡∏≠‡∏ô‡∏™‡∏£‡∏∏‡∏õ
# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÉ‡∏´‡πâ‡πÅ‡∏ô‡πà‡πÉ‡∏à‡∏ß‡πà‡∏≤ measure_datetime ‡πÄ‡∏õ‡πá‡∏ô datetime object
df_complete['measure_datetime'] = pd.to_datetime(df_complete['measure_datetime'])

# 2. ‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô (Monthly Aggregation)
# ‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ .groupby(['station_code', pd.Grouper(key='measure_datetime', freq='MS')])
# 'MS' ‡∏¢‡πà‡∏≠‡∏°‡∏≤‡∏à‡∏≤‡∏Å Month Start ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏™‡∏£‡∏∏‡∏õ‡πÄ‡∏õ‡πá‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà 1 ‡∏Ç‡∏≠‡∏á‡∏ó‡∏∏‡∏Å‡πÄ‡∏î‡∏∑‡∏≠‡∏ô
df_monthly = df_complete.groupby(['station_code', pd.Grouper(key='measure_datetime', freq='MS')])['data'].sum().reset_index()

# 3. ‡πÅ‡∏¢‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå ‡πÄ‡∏î‡∏∑‡∏≠‡∏ô ‡πÅ‡∏•‡∏∞ ‡∏õ‡∏µ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ö‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏°‡∏≤‡∏ï‡∏£‡∏ê‡∏≤‡∏ô
df_monthly['month'] = df_monthly['measure_datetime'].dt.month
df_monthly['year'] = df_monthly['measure_datetime'].dt.year

# 4. ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡πâ‡∏™‡∏∑‡πà‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢
df_monthly = df_monthly.rename(columns={'data': 'rain'})

# 5. ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå
print("="*60)
print(" ‡πÑ‡∏ü‡∏•‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô (Monthly Rain Summary)")
print("="*60)
print(f" ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {len(df_monthly)} ‡πÅ‡∏ñ‡∏ß")
display(df_monthly.head(10)) # ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á 10 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

# 6. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå‡πÅ‡∏•‡∏∞‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÄ‡∏õ‡πá‡∏ô .csv
# encoding='utf-8-sig' ‡∏à‡∏∞‡∏ä‡πà‡∏ß‡∏¢‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡∏¥‡∏î‡πÉ‡∏ô Excel ‡πÅ‡∏•‡πâ‡∏ß‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢‡πÑ‡∏°‡πà‡πÄ‡∏û‡∏µ‡πâ‡∏¢‡∏ô
output_filename = 'output_monthly_rainfall.csv'
save_path = '/content/drive/MyDrive/Midterm_BSC/' + output_filename

try:
    df_monthly.to_csv(save_path, index=False, encoding='utf-8-sig')
    print("="*60)
    print(f" ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÑ‡∏ü‡∏•‡πå‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!")
    print(f" ‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå: {output_filename}")
    print(f" ‡πÄ‡∏™‡πâ‡∏ô‡∏ó‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå: {save_path}")
    print("="*60)
except Exception as e:
    print(f" ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÑ‡∏ü‡∏•‡πå: {e}")

============================================================
 ‡πÑ‡∏ü‡∏•‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô (Monthly Rain Summary)
============================================================
 ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 59675 ‡πÅ‡∏ñ‡∏ß

  station_code          measure_datetime   rain  month  year
0         ACRU 2012-01-01 00:00:00+07:00    5.8      1  2012
1         ACRU 2012-02-01 00:00:00+07:00    0.0      2  2012
2         ACRU 2012-03-01 00:00:00+07:00   13.4      3  2012
3         ACRU 2012-04-01 00:00:00+07:00  167.0      4  2012
4         ACRU 2012-05-01 00:00:00+07:00  250.2      5  2012
5         ACRU 2012-06-01 00:00:00+07:00   63.4      6  2012
6         ACRU 2012-07-01 00:00:00+07:00  249.6      7  2012
7         ACRU 2012-08-01 00:00:00+07:00  267.4      8  2012
8         ACRU 2012-09-01 00:00:00+07:00  264.8      9  2012
9         ACRU 2012-10-01 00:00:00+07:00   73.8     10  2012

============================================================
 ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÑ‡∏ü‡∏•‡πå‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!
 ‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏ü‡∏•‡πå: output_monthly_rainfall.csv
 ‡πÄ‡∏™‡πâ‡∏ô‡∏ó‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå: /content/drive/MyDrive/Midterm_BSC/output_monthly_rainfall.csv
============================================================